<!DOCTYPE html>
<html>
 <head>
 <title><%= full_title(yield(:title)) %></title>
 <%= csrf_meta_tags %>
 <%= stylesheet_link_tag 'application', media: 'all',
 'data-turbolinks-track': 'reload' %>
 <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
 </head>
 <body>
 <%= yield %>
 </body>
</html>
จากนั &นไปเปลี	ยนไฟล์ app/helpers/application_helper.rb ให้เป็ นไปตามด้านล่าง
 module ApplicationHelper
 # Returns the full title on a per-page basis.
 def full_title(page_title = '')
 base_title = "Ruby on Rails Tutorial Sample App"
 if page_title.empty?
 base_title
 else
 page_title + " | " + base_title
 end
 end
end